<h1 style="text-align: center;"><%=user.username%></h1>
<div style="
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    margin-inline:10%;
">
<div>
    <%if (user.movies!=0) {%>
        <h2><u><a href="user/movies">Movies</a></u></h2>
        
        <h4>Watched</h4>
            <%user.movies.forEach ( movies => { %>
                <%if (movies.watchStatus == 'Watched') {%>
                    <div class='media-box-mini'><a href="/movies/<%=movies.movie.id%>"><img src="<%= movies.movie.coverImagePath || "/images/missing_movie.png"%>"><div class="media-box-mini-title"><div><%=movies.movie.name%></div></div></a></div>
                <%}%>
            <%})%>

        <h4>Planned</h4>
            <%user.movies.forEach ( movies => { %>
                <%if (movies.watchStatus == 'Plan to watch') {%>
                    <div class='media-box-mini'><a href="/movies/<%=movies.movie.id%>"><img src="<%= movies.movie.coverImagePath || "/images/missing_movie.png"%>"><div class="media-box-mini-title"><div><%=movies.movie.name%></div></div></a></div>
                <%}%>
            <%})%>
    <%}%>
</div>

<div>
    <%if (user.books!=0) {%>
        <h2><u><a href="user/books">Books</a></u></h2>
        
        <h4>Read</h4>
            <%user.books.forEach ( books => { %>
                <%if (books.watchStatus == 'Read') {%>
                    <div class='media-box-mini'><a href="/books/<%=books.book.id%>"><img src="<%= books.book.coverImagePath || "/images/missing_movie.png"%>"><div class="media-box-mini-title"><div><%=books.book.name%></div></div></a></div>
                <%}%>
            <%})%>

        <h4>Planned</h4>
            <%user.books.forEach ( books => { %>
                <%if (books.watchStatus == 'Plan to read') {%>
                    <div class='media-box-mini'><a href="/books/<%=books.book.id%>"><img src="<%= books.book.coverImagePath || "/images/missing_movie.png"%>"><div class="media-box-mini-title"><div><%=books.book.name%></div></div></a></div>
                <%}%>
            <%})%>
    <%}%>
</div>

<div>
    <%if (user.shows!=0) {%>
        <h2><u><a href="user/shows">Shows</a></u></h2>
        
        <h4>Watched</h4>
        <%console.log(user.shows)%>
            <%user.shows.forEach ( shows => { %>
                <%if (shows.watchStatus == 'Watched') {%>
                    <div class='media-box-mini'><a href="/shows/<%=shows.show.id%>"><img src="<%= shows.show.coverImagePath || "/images/missing_movie.png"%>"><div class="media-box-mini-title"><div><%=shows.show.name%></div></div></a></div>
                <%}%>
            <%})%>

        <h4>Planned</h4>
            <%user.shows.forEach ( shows => { %>
                <%if (shows.watchStatus == 'Plan to watch') {%>
                    <div class='media-box-mini'><a href="/show/<%=shows.show.id%>"><img src="<%= shows.show.coverImagePath || "/images/missing_movie.png"%>"><div class="media-box-mini-title"><div><%=shows.show.name%></div></div></a></div>
                <%}%>
            <%})%>
    <%}%>
</div>
</div>