<h1 style="text-align: center;"><%=user.username%></h1>

<h3 style="text-align: center;">Books</h3>
<div style="
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    margin-inline:25%;
">
<div>
        
        <h4>Watched</h4>
            <%user.books.forEach ( books => { %>
                <%if (books.watchStatus == 'Read') {%>
                    <div class='media-box-mini'><a href="/books/<%=books.book.id%>"><img src="<%= books.book.coverImagePath || "/images/missing_book.png"%>"><div class="media-box-mini-title"><div><%=books.book.name%></div></div></a></div>
                <%}%>
            <%})%>

        
</div>

<div>
    <h4>Planned</h4>
    <%user.books.forEach ( books => { %>
        <%if (books.watchStatus == 'Plan to read') {%>
            <div class='media-box-mini'><a href="/books/<%=books.book.id%>"><img src="<%= books.book.coverImagePath || "/images/missing_book.png"%>"><div class="media-box-mini-title"><div><%=books.book.name%></div></div></a></div>
        <%}%>
    <%})%>
</div>
</div>