<h1 style="text-align: center;"><%=user.username%></h1>

<h3 style="text-align: center;">Shows</h3>
<div style="
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    margin-inline:25%;
    vertical-align: top;
">
<div style="vertical-align: top;">
        
        <h4>Watched</h4>
            <%user.shows.forEach ( shows => { %>
                <%if (shows.watchStatus == 'Read') {%>
                    <div class='media-box-mini'><a href="/shows/<%=shows.show.id%>"><img src="<%= shows.show.coverImagePath || "/images/missing_show.png"%>"><div class="media-box-mini-title"><div><%=shows.show.name%></div></div></a></div>
                <%}%>
            <%})%>

        
</div>

<div style="vertical-align: top;">
    <h4>Planned</h4>
    <%user.shows.forEach ( shows => { %>
        <%if (shows.watchStatus == 'Plan to read') {%>
            <div class='media-box-mini'><a href="/shows/<%=shows.show.id%>"><img src="<%= shows.show.coverImagePath || "/images/missing_show.png"%>"><div class="media-box-mini-title"><div><%=shows.show.name%></div></div></a></div>
        <%}%>
    <%})%>
</div>
</div>