<%=user.username%>

<%if (user.movies!=0) {%>
    <h2>Movies</h2>

    <h3>Watched</h3>
        <%user.movies.forEach ( movies => { %>
            <%if (movies.watchStatus == 'Watched') {%>
                <div class='media-box'><a href="/movies/<%=movie.id%>"><img src="<%= movie.coverImagePath || "images/missing_movie.png"%>"><div class="media-box-title"><%=movie.name%></div></a></div>
            <%}%>
        <%})%>

    <h3>Planned</h3>
        <%user.movies.forEach ( movies => { %>
            <%if (movies.watchStatus == 'Plan to watch') {%>
                <div class='media-box'><a href="/movies/<%=movie.id%>"><img src="<%= movie.coverImagePath || "images/missing_movie.png"%>"><div class="media-box-title"><%=movie.name%></div></a></div>
            <%}%>
        <%})%>
<%}%>