<% if (movies != null) {%>
    <div> <!--list movies-->
        <h3>Movies</h3>
        <ul>
        <% movies.forEach ( movie => { %>
            <div class='media-box'><a href="/movies/<%=movie.id%>"><img src="<%= movie.coverImagePath || "images/missing_movie.png"%>"><div class="media-box-title"><%=movie.name%></div></a></div>
        <% }) %>
        </ul>
    </div>
<% } %>

<% if (staff != null) {%>
    <div> <!--list staff-->
    <hr>
    <h3>STAFF</h3>
    <% staff.forEach ( staff => { %>
    <div><a href="/staff/<%=staff.id%>"><%= staff.name%></a></div>
    <br>
    ~
    <% }) %>
    </div>
<% } %>

<a href="movies/new">add new movie</a>
<hr>