<div>
    <label>Name</label>
    <input type="text" name="name" value="<%= movie.name %>"> 
</div>

<br><br>

<div>
    <label>Summary</label>
    <input type="text" name="summary" value="<%= movie.summary %>">
    <br>
</div>

<br><br>

<div>
    <label>Tags</label>
    <div id = tagFields>
    <input type="text" Id="tagField0" name="tags" value="<%= movie.tags %>">
    <br id="br0">
    </div>
</div>

<br><br>

<div>
    <div>
    <label>Staff</label>
    <div id = staffFields>
        <div id= staffFields0>
            <select name="staff">
                <%staff.forEach(staff => { %>
                    <option label= "<%=staff.name%>" name= "staff" value = "<%= staff.id %>"></option>
                <%})%>
            </select>
        </div>
        <br id="br0">
    </div>

    </div>
    <input id="addStaffField" type="button" value="Add field">
    <input id="removeStaffField" type="button" value="Remove field">
</div>

<div>
    <label>Release Date</label>
    <input type="date" name="releaseDate"
                value = <%= movie.releaseDate == null ? '' :
                book.releaseDate.toISOString().split('T')[0]  %>
</div>

<br><br>

<div>
    <label>Cover</label>
    <input type="file" name="cover" class='filepond'>
</div>

<script>

    // STAFF FIELD CODE
        var i = 0;
        document.getElementById("addStaffField").addEventListener("click", function(){
            i++;
            var newStaffField = document.createElement("div")
                newStaffField.setAttribute('id', 'staffField' + i);
                newStaffField.setAttribute('name', 'staff');
                newStaffField.setAttribute('value', '<%=movie.staff%>')
                newStaffField.innerHTML = `
                <select name="staff">
                <%staff.forEach(staff => { %>
                        <option selected label= "<%=staff.name%>" value = "<%= staff.id %>">
                <%})%>
                </select>
                `
            ;

            var br = document.createElement("br")
                br.setAttribute ('id', 'br'+i)

            document.getElementById("staffFields").appendChild(newStaffField);
            document.getElementById("staffFields").appendChild(br)
        });

        document.getElementById("removeStaffField").addEventListener("click", function(){
            if (i>0) {
                var removeStaffField = document.getElementById("staffField" + i);
                var br = document.getElementById("br" + i);
                document.getElementById("staffFields").removeChild(removeStaffField);
                document.getElementById("staffFields").removeChild(br);
                i--;
            }
        });
</script>