<div>
    <label>Name</label>
    <input type="text" name="name" value="<%= movie.name %>"> 
</div>

<br><br>

<div>
    <label>Summary</label>
    <input type="text" name="summary" value="<%= movie.summary %>">
    <br>
</div>

<br><br>

<div>
    <label>Tags</label>
    <div id = tagFields>
    <input type="text" Id="tagField0" name="tags" value="<%= movie.tags %>">
    <br id="br0">
    </div>

    <input id="addTagField" type="button" value="Add field">
    <input id="removeTagField" type="button" value="Remove field">
</div>

<br><br>

<div>
<label>Staff</label>
<div id = staffFields>
    <select name="staff">
        <%staff.forEach(staff => { %>
            <% if (staff.id == movie.staff.id) { %>
                <option selected label= "<%=staff.name%>" value = "<%= staff.id %>">
            <%} else {%>
                <option selected label= "<%=staff.name%>" value = "<%= staff.id %>">
            <%}%>
        <%})%>
    </select>
        
    <input type="text" Id="stafField0" name="staff" value="<%= movie.staff%>">
    <br id="br0">
    </div>
    <input id="addStaffField" type="button" value="Add field">
    <input id="removeStaffField" type="button" value="Remove field">
</div>

<br><br>

<div>
    <label>Cover</label>
    <input type="file" name="cover">
</div>

<script>

    // STAFF FIELD CODE
        var i = 0;
        document.getElementById("addStaffField").addEventListener("click", function(){
            i++;
            var newStaffField = document.createElement("input")
                newStaffField.setAttribute('type', 'text');
                newStaffField.setAttribute('id', 'staffField' + i);
                newStaffField.setAttribute('name', 'staff');
                newStaffField.setAttribute('value', '<%=movie.staff%>')

            var br = document.createElement("br")
                br.setAttribute ('id', 'br'+i)

            document.getElementById("staffFields").appendChild(newStaffField);
            document.getElementById("staffFields").appendChild(br)
        });

        document.getElementById("removeStaffField").addEventListener("click", function(){
            if (i>0) {
                var removeStaffField = document.getElementById("staffField" + i);
                var br = document.getElementById("br" + i);
                document.getElementById("staffFields").removeChild(removeStaffField);
                document.getElementById("staffFields").removeChild(br);
                i--;
            }
        })


    // TAG FIELD CODE
        var j = 0;
        document.getElementById("addTagField").addEventListener("click", function(){
            j++;
            var newTagField = document.createElement("input")
                newTagField.setAttribute('type', 'text');
                newTagField.setAttribute('id', 'tagField' + j);
                newTagField.setAttribute('name', 'tags');
                newTagField.setAttribute('value', '<%=[movie.tags]%>')

            var br = document.createElement("br")
                br.setAttribute ('id', 'br'+j)

            document.getElementById("tagFields").appendChild(newTagField);
            document.getElementById("tagFields").appendChild(br)
        });

        document.getElementById("removeTagField").addEventListener("click", function(){
            if (j>0) {
                var removetagField = document.getElementById("tagField" + j);
                var br = document.getElementById("br" + j);
                document.getElementById("tagFields").removeChild(removetagField);
                document.getElementById("tagFields").removeChild(br);
                j--;
            }
        });
</script>