<div>
    <label>Summary</label>
    <br>
    <textarea name="summary" class='input-summary'><%= movie.summary %></textarea>
    <br>
</div>

<br><br>

<div>
    <label>Tags</label>
    <div style="color:black" id = tagFields>
    <select  class="input-tags js-example-basic-multiple"  name="tags" multiple="multiple">
        <%tags.forEach ( tags => {%>
            <option label= "<%=tags.name%>" value = "<%= tags.id %>"><%=tags.name%></option>
        <%})%>
    </select>
    <br id="br0">
    </div>
</div>

<br><br>

<div>
    <label>Release Date</label>
    <input type="date" name="releaseDate"
                value = <%= movie.releaseDate == null ? '' :
                movie.releaseDate.toISOString().split('T')[0]  %>>
</div>

<br><br>

<div>
    <label>Your rating</label>
    <input type="text" name="rating">
</div>

<br><br>

<div>
    <div style="width:150px;display:inline-block;margin-right: 50px;">
        <label>Cover</label>
        <input id="coverUp" class="filepond" type="file" name="cover">
    </div>
    <div style="width:500px;display:inline-block;">
        <label>Background</label>
        <input id="wallpaperUp" class="filepond" type="file" name="wallpaper">
    </div>
    <%- include('../partials/fileUpload.ejs') %>
</div>