<section>
    <h2>Edit movie</h2>
    <form action="/movies/<%=movie.id%>?_method=PUT" method="PUT">        
        <div>
            <label>Summary</label>
            <br>
            <textarea name="summary" class='input-summary' value="<%= movie.summary %>"></textarea>
            <br>
        </div>
        
        <br><br>
        
        <div>
            <label>Tags</label>
            <div id = tagFields>
            <select class="js-example-basic-multiple input-tags" style="width:150px" name="tags" multiple="multiple">
                <%tags.forEach ( tags => {%>
                    <option label= "<%=tags.name%>" value = "<%= tags.id %>"><%=tags.name%></option>
                <%})%>
            </select>
            <br id="br0">
            </div>
        </div>
        
        <br><br>
        <div>
            <label>Staff</label>
            <div id = staffFields>
            </div>
            <input id="addStaffField" type="button" value="Add field">
            <input id="removeStaffField" type="button" value="Remove field">
        </div>
        
        <div>
            <label>Release Date</label>
            <input type="date" name="releaseDate"
                        value = <%= movie.releaseDate == null ? '' :
                        movie.releaseDate.toISOString().split('T')[0]  %>
        </div>
        
        <br><br>
        
        <div>
            <label>Cover</label>
            <input type="file" name="cover" class='filepond cover-upload'>
        </div>
        
        <br>
        </form>
        <a href="/movies/<%=movie.id%>">Cancel</a>
        <button type='submit'>Edit movie</button>
    </form>
    <script>
        $(document).ready(function() {
    
            // var data = $.map(staff, function (obj) {
            //     obj.id = obj.id || obj.id; // replace pk with your identifier
            //     return obj;
            // });
    
            // var data = $.map(staff, function (obj) {
            //     obj.text = obj.text || obj.name; // replace name with the property used for the text
            //     return obj;
            // });
    
            // console.log(data)
    
        // STAFF FIELD CODE
            var i = 0;
            document.getElementById("addStaffField").addEventListener("click", function(){
                i++;
                var newStaffField = document.createElement("div")
                    newStaffField.setAttribute('id', 'staffField' + i);
                    newStaffField.setAttribute('name', 'staff');
                    newStaffField.setAttribute('value', '<%=movie.staff%>')
                    newStaffField.innerHTML = `
                    <label>Staff</label>
                    <select class="js-example-basic-single" style="width:300px" name="staff">
                        <%staff.forEach(staff => { %>
                                <option label= "<%=staff.name%>" value = "<%= staff.id %>"><%=staff.name%></option>
                        <%})%>
                    </select>
    
                    <label>Role</label>
                    <select class="js-example-basic-single" style="width:150px" name="roles">
                        <%roles.forEach(roles => { %>
                                <option label= "<%=roles.name%>" value = "<%= roles.id %>"><%=roles.name%></option>
                        <%})%>
                    </select>
                    `
                ;
    
                var br = document.createElement("br")
                    br.setAttribute ('id', 'br'+i)
    
                document.getElementById("staffFields").appendChild(newStaffField);
                document.getElementById("staffFields").appendChild(br)
                $('.js-example-basic-single').select2();
            });
    
            document.getElementById("removeStaffField").addEventListener("click", function(){
                if (i>0) {
                    var removeStaffField = document.getElementById("staffField" + i);
                    var br = document.getElementById("br" + i);
                    document.getElementById("staffFields").removeChild(removeStaffField);
                    document.getElementById("staffFields").removeChild(br);
                    i--;
                }
            });
        })

    $(document).ready(function() {
        $('.js-example-basic-multiple').select2();
    });
    $(document).ready(function() {
        $('.js-example-basic-single').select2();
    });
    </script>
</section>

