
            <!-- using a risky move here to render wallpaper in the bg with gradient, perhaps change later -->
                <div  style="
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(32, 32, 32) 100%),
                url('<%=movie.wallpaperImagePath||`/images/missing_wallpaper.png`%>');margin:0px;position:absolute;width:100%;">

    <div class='media-header'>
        <div id="header-left">
            <img src="<%= movie.coverImagePath || "/images/missing_movie.png"%>">
        </div>
        <div id="header-right">
            <h2><%=movie.name%></h2>
            <p><%=movie.summary%></p>
        </div>
    </div>
            
    <a href="/movies/<%=movie.id%>/track" class="btn btn-primary btn-track">Track</a>

<div class='media-body'>

    <div class="media-body-children media-body-left">

        <%if (movie.avgRating!=null) {%>
            <h3>Rating</h3>
            <%=movie.avgRating%>
        <%}%>

        <div>
            <h3>Tags</h3>
            <ul>
            <% for (i=0;i<movie.tags.length;i++) { %>
                <li><%=movie.tags[i].name%></li><br>
            <%}%>
            </ul>
        </div>

        <div>
            <% if(movie.releaseDate!=null){%><h3>Release Date</h3><%=movie.releaseDate.toDateString()%><%}%>
        </div>
    </div>

    <div class=" media-body-children media-body-right">
        <h3>Staff</h3>
            <%if ( staff!="" || staff!= null ) {%>
            <div> <!--list books-->
                <ul>
                <% for (let i = 0; i < staff.length; i++){ %>
                    <li><a href="/staff/<%=staff.id%>"><%=staff[i].name%></a> - <%=staff[i].works.role[0].name%></li><br>
                    <div><a href="/staff/<%=staff.id%>"><%= staff.name%></a></div>
                <%}%>
                </ul>
                </div>
            <%}%>
    </div>
    
</div>

<div style="margin-left:75%;">
<a class="btn btn-primary" href="/movies/<%=movie.id%>/edit">Edit</a>
<%- include ('../partials/deleteForm', {url : `/movies/${movie.id}`}) %>
</div>
</form>

</div>
</div>