<div>
    <div id="staffWorks">
    </div>
    <input id="addWorksDiv" type="button" value="Add new work">
    <input id="removeWorksDiv" type="button" value="Remove field">
</div>

<script>

    // STAFF FIELD CODE
        var i = 0;
        document.getElementById("addWorksDiv").addEventListener("click", function(){
            i++;
            var newWorkDiv = document.createElement("div")
                newWorkDiv.setAttribute('id', 'workDiv' + i);
                newWorkDiv.innerHTML = `
                
                <label>Movie</label>
                <select class="js-example-basic-single" style="width:300px" name="movies">
                    <%movies.forEach(movies => { %>
                            <option label= "<%=movies.name%>" value = "<%= movies.id %>"><%= movies.name %></option>
                    <%})%>
                </select>

                <label>Role</label>
                <select class="js-example-basic-single" style="width:150px" name="roles">
                    <%staff_roles.forEach(staff_roles => { %>
                            <option label= "<%=staff_roles.name%>" value = "<%= staff_roles.id %>"><%=staff_roles.name%></option>
                    <%})%>
                </select>
                `
            ;

            var br = document.createElement("br")
                br.setAttribute ('id', 'br'+i)

            document.getElementById("staffWorks").appendChild(newWorkDiv);
            document.getElementById("staffWorks").appendChild(br)
            
            $(document).ready(function() {
                $('.js-example-basic-multiple').select2();
                $('.js-example-basic-single').select2();
            });
        });

        document.getElementById("removeWorksDiv").addEventListener("click", function(){
            if (i>0) {
                var WorkDiv = document.getElementById('workDiv' + i);
                var br = document.getElementById("br" + i);
                var staffWorks = document.getElementById("staffWorks");

                staffWorks.removeChild(WorkDiv);
                staffWorks.removeChild(br);
                i--;
            }
        });
</script>